.env.DS_Store
.ipynb_checkpoints/
__pycache__/
.vscode/
.venv/
miniforge3/
.env

runs/
logs/
plots/raw/
results/raw/
ChampSim_CRC2/traces/
ChampSim_CRC2/lib/
ChampSim_CRC2/*-config1
ChampSim_CRC2/*-config2
ChampSim_CRC2/*-config3

*.out
*.o
*.a
*.zip
